<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
    
  <%= pretty_text_field(f, :name) %>
  <%= pretty_text_field(f, :breed) %>
  
<div>
  <%= f.label :color %>
  <%= f.select :color, ['black', 'white', 'spotted', 'brindle'] %>
</div>

<div>
  <%= f.label :last_seen_at %>
  <%= f.datetime_select :last_seen_at %>
</div>

<%= f.submit %>
<% end %>