<!DOCTYPE html>
<html>
<head>
  <title>LostDog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.present?  %>
  <div>
    Signed in as <%= current_user.email %> (<%= link_to "signout", sessions_path, method: :delete %>)
  </div>
<% end  %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
