<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desciption</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.description %></td>
        <td>
          <%= link_to 'show', recipe %>
          <%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      </tr>
    <% end  %>  
  </tbody>
</table>

<p><%= link_to 'New Recipe', new_recipe_path %></p>
