<!DOCTYPE html>
<html>
<head>
  <title>Utilities Dashboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1>Utilities Dashboard</h1>
  </div>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle Navigation</span>
        <span cllass="icon-bar"></span>
        <span cllass="icon-bar"></span>
        <span cllass="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Manage Utilities', utilities_path %></li>
        <li><%= link_to 'Bills', bills_path %></li>
        <li><%= link_to 'Utility Sharing', utility_sharings_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <% flash.each do |severity, message| %>
    <div class="alert alert-<%= severity %>">
      <%= message %>
    </div>
  <% end %>

<%= yield %>

</div>

</body>
</html>
