<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Bills', bills_path %></li>
  <li class="active">Show Bill<li>
</ol>

<h1>Show Bill</h1>

<%= @bill.utility.name %><br>

<%= @bill.amount %> <br>

due_on: <%= @bill.due_on %>